body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: #469A49;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.title {
  font-size: 60px;
}

.app-inner {
  display: flex;
  max-width: 100vw;
  width: 100%;
  flex-wrap: wrap;
  justify-content:center;
}

.board {
  display: flex;
  flex-flow: row;
  width: 100%;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 20px;
  width:100%;
  font-size:24px;
}


@media screen and (min-width: 800px)  {
  .app-inner {
    width: 50%;
  }
}

.tile {
  width: 100px;
  height: 75px;
  display:flex;
  align-items:center;
  justify-content:center;
  border: 1px solid white;
  cursor: pointer;
  font-size: 40px;
}

.tile.matched {
  cursor: default;
}